//--------------------------------------------------------------------
//Style Sheet for Rachel J. Frazer

//Main Style

//Created: January/2018 by Rachel Frazer
//-----------------------------------------------------------------------


// Table of Contents:
//
//  1. General
//  2. Variables
//  3. Typography
//  4. Navigation
//  5. Showcase
//  6. Responsivness



//===================================

//General

//======================================================

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    min-width: 601px;
}

img{
    width: 100%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.site-wrapper{
    background-color: #fff;
    margin-bottom: 281px;
}

a{
    cursor: pointer !important;
}

//===================================

//Variables

//======================================================

$iconicBlue: rgb(87,140,239);
$paleBlue: rgb(167,184,215);
$offWhite: rgb(240,243,246);
$liteGray: rgb(170,179,194);
$midGray: rgb(123,131,145);
$darkGray: rgb(64,69,79);

$mont: "Montserrat", Helvetica, san-serif;


$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


//===================================

//Mixins

//======================================================

// transition
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}
// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
      -o-transform: $transforms;
     -ms-transform: $transforms;
 -webkit-transform: $transforms;
       transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
@include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
@include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
@include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
 moz-transform-origin: $origin;
      -o-transform-origin: $origin;
     -ms-transform-origin: $origin;
 -webkit-transform-origin: $origin;
       transform-origin: $origin;
}

@mixin clearfix{
    &:after{
        content: '';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

@mixin flex-center{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

//===================================

//Typography

//======================================================

h1{
    font-size: 2.6rem;
    line-height: 1.4;
    color: $darkGray;
    b{
        display: block;
        font-weight: 500;
    }
}


.minicaps{
    text-transform: uppercase;
    font-weight: 500 !important;
    color: #b0b1b1;
    letter-spacing: 0.8px;
}

.subtitle{
    color: $midGray;
    margin-top: 0px;
    font-size: 15px;
    letter-spacing: 0.6px;
    font-weight: 500;
}


//===================================

//Navigation

//======================================================

.site-header{
    width: 100%;
    height: 124px;
    position: relative;
    .fixed-header{
        width: 100%;
        height: 124px;
        position: relative;
        background-color: rgba(255,255,255,0.8);
        .header-wrap{
            padding: 30px 0px;
        }
    }
}


.navbar{
    width: 100%;
    position: relative;
    height: 64px;
    line-height: 64px;
    /*border-bottom: 1px solid #dbdbdb;*/
    .main-menu{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        margin: 0;
        li{
            display: inline-block;
            padding: 0px 20px;
            a{
                display: block;
                color: $midGray;
                cursor: pointer;
                &:hover, &:active{
                    color: $iconicBlue;
                }
            }
        }
    }
}

.navbar, .footer-nav{
    .monogram{
        display: inline-block;
        a{
            display: block;
            width: 64px;
            height: 64px;
            cursor: pointer;
            color: #fff;
            background-color: $midGray;
            border-radius: 2px;
            text-align: center;
            position: relative;
            overflow: hidden;
            &:before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: $iconicBlue;
                @include transition(left 0.2s cubic-bezier(.17,.67,.83,.67));
                left: -100%;
            }
            &after{
                content: '';
            }
            &:hover, &:active{
                color: #fff;
                &:before{
                    left: 0%;
                }
            }
            .monogram-icon{
                font-size: 52px;
                vertical-align: middle;
                position: relative;
                z-index: 2;
                @include transform(rotate(-180deg));
            }
        }
    }
}

.footer-nav{
    .monogram{
        line-height: 56px;
        a{
            width: 50px;
            height: 50px;
            border: 2px solid $midGray;
            color: #fff;
            .monogram-icon{
                font-size: 44px;
                margin-bottom: 8px;
            }
            &:hover, &:active{
                border-color: $iconicBlue;
            }
        }
    }
}

.fixed-footer{
    width: 100%;
    background-color: rgb(250,250,250);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -100;
}

.footer-nav{
    width: 100%;
    position: relative;
    text-align: center;
    .top-nav{
        line-height: 54px;
        padding-top: 40px;
        .main-footer-nav{
            padding: 1em 0;
        }
    }
}


.footer-nav{
    .item{
        display: inline-block;
        padding: 0px 15px;
        text-transform: uppercase;
        color: $liteGray;
        letter-spacing: 0.4px;
        font-size: 14px;
        font-weight: 500;
        a{
            display: block;
            color: $midGray;
        }
        &.copyright{
            color: $liteGray;
            font-size: 12px;
            letter-spacing: 0.8px;
        }
    }
}

.pagination{
    @include flex-center;
    margin-bottom: 2rem;
    .previous, .forward{
        width: 30%;
        padding: 0px 2rem;
        a{
            color: $midGray;
            font-size: 1.2rem;
            letter-spacing: 0.6px;
            font-weight: 500;
            cursor: pointer;
            .icon-previous, .icon-forward{
                vertical-align: middle;
                margin-bottom: 4px;
                position: relative;
            }
            &:hover{
                color: $iconicBlue;
                .icon-forward{
                    right: -2px;
                    color: $iconicBlue;
                    stroke-width: 1px;
                }
                .icon-previous{
                    left: -2px;
                    color: $iconicBlue;
                    stroke-width: 1px;
                }
            }
        }
    }
    .forward{
        text-align: right;
    }
}



//===================================

//Structure

//======================================================


.extra-margin{
    margin-top: 3rem;
}

.extra-padding-bottom{
    padding-bottom: 3rem;
}

.main-wrapper{
    padding: 4rem 0;
}

.min-wrapper{
    padding: 2rem 0;
}

.spacing{
    padding: 2rem 0px;
}

.lead-content{
    .title{
        padding-bottom: 20px;
        h1{
            line-height: 1.4;
            em{
                font-family: $mont;
                font-weight: 500;
                font-style: normal;
            }
        }
    }
    p{
        font-size: 20px;
        line-height: 40px;
        color: $midGray;
    }
}


.stencil{
    display: inline-block;
    vertical-align: middle;
    background: $darkGray;
    overflow: hidden;
    position: relative;
    .icon-stencil{
        width: 4em;
        vertical-align: middle;
        font-size: 2em;
        margin-top: -5px;
        position: relative;
    }
    &:before{
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(45deg, $iconicBlue, #4be2fa);
        @include transition(transform 0.5s linear);
        animation: shade 3s linear infinite;
        animation-play-state: paused; 
    }
    &:hover{
        &:before{
            animation-play-state: running; 
        }
    }
}

@keyframes shade {
    0% {
        @include transform(translateX(-100%));
    }
    50%{
        @include transform(translateX(0%));
    }
    100% {
        @include transform(translateX(100%));
    }
}


.feature-list{
    padding: 0px 20px;
    .title{
        padding-bottom: 10px;
    }
}

.item-list{
    .component{
        margin-bottom: 35px;
        padding: 0px;
    }
    .preview{
        position: relative;
        display: block;
        cursor: pointer;
        .image{
            img{
                display: block;
            }
        }
        .overlay{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            text-align: center;
            cursor: pointer;
            background-color: rgba($iconicBlue, 0.7);
            @include transition(opacity 0.2s cubic-bezier(.17,.67,.83,.67));
            .coding{
                vertical-align: middle;
                font-size: 80px;
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate(-50%, -50%);
            }
            .view-link{
                display: block;
                padding: 15px 2rem;
                border: 2px solid #fff;
                background-color: rgba(255,255,255,0.2);
                color: #fff;
                border-radius: 2px;
                text-transform: uppercase;
                letter-spacing: 0.4px;
                font-weight: 500;
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate(-50%, -50%);
                @include transition(color 0.2s cubic-bezier(.17,.67,.83,.67), background-color 0.2s cubic-bezier(.17,.67,.83,.67));
                &:hover, &:active{
                    background-color: #fff;
                    color: $darkGray;
                }
            }
        }
        &:hover{
            .overlay{
                opacity: 1;
            }
            .image{
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
        }
    }
    .caption{
        padding: 15px 0px;
        h3{
            font-size: 16px;
            color: $darkGray;
            margin: 0;
            font-weight: 500;
        }
        p{
            color: $midGray;
            margin: 6px 0px;
            font-size: 14px;
            letter-spacing: 0.6px;
        }
    } 
}


.notification{
    text-align: center;
    padding-bottom: 15px;
    h5{
        font-style: italic;
        letter-spacing: 1px;
        color: $liteGray;
    }
}

.project-content{
    .title{
        h1{
            color: $darkGray;
            font-weight: 500;
        }
    }
    .summary{
        p{
            font-size: 1.2rem;
            color: $midGray;
            line-height: 1.8;
        }
    }
    .services{
        li{
            list-style-type: none;
            color: $paleBlue;
            font-weight: 500;
            position: relative;
            float: left;
            padding: 0px 15px;
            &:after{
                content: '';
                display: inline-block;
                width: 1px;
                height: 60%;
                position: absolute;
                right: 0;
                top: 15%;
                background-color: $paleBlue;
            }
            &:first-child{
                padding-left: 0px;
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
        }
    }
}

.component{
    padding: 30px 0px;
}

.img-holder{
    margin-bottom: 3rem;
    &.set-width{
        text-align: center;
        img{
            width: auto;
        }
    }
    .website{
        border: 1px solid $offWhite;
        box-shadow: 0px 1px 3px 0px rgba(123, 131, 146, 0.2),  1px 0px 3px 0px rgba(123, 131, 146, 0.3);
    }
    &.last{
        margin-bottom: 3rem;
    }
}

.section-body{
    max-width: 840px;
    margin: auto;
    margin-bottom: 4rem;
    h2{
        font-size: 1.8rem;
        color: $darkGray;
        font-weight: 500;
    }
    p{
        font-size: 1.2rem;
        color: $midGray;
        line-height: 1.7;
    }
}

.site-access{
    margin: 2rem 0px;
    text-align: right;
    padding: 0px 15px;
}

.outline-btn{
    display: inline-block;
    border-radius: 2px;
    border: 2px solid $iconicBlue;
    background-color: #fff;
    padding: 14px 35px;
    font-size: 14px;
    position: relative;
    cursor: pointer !important;
    overflow: hidden;
    span{
        position: relative;
        z-index: 2;
        color: $iconicBlue;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.6px;
    }
    &:before, &:after{
        content: '';
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &:before{
        background-color: #fff;
        z-index: 1;
    }
    &:after{
        @include transform(translate3d(-101%, 0, 0));
        @include transition(all 0.2s cubic-bezier(.17,.67,.83,.67));
        background-color: $iconicBlue;
        z-index: 1;
    }
    &:hover{
        &:before{
            z-index: 0;
        }
        &:after{
            @include transform(translate3d(0%, 0, 0));
        }
        span{
            color: #fff;
        }
    }
}





//===================================

//Responsive

//======================================================

@media screen and (max-width:$medium-screen){
    .site-access{
        text-align: left;
        padding: 0px;
    }
}

