body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 601px; }

img {
  width: 100%; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

a {
  cursor: pointer !important; }

.full-container {
  width: 100%;
  margin: 0 auto; }
  .full-container > .row {
    max-width: 1400px; }

.max-container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }

h1 {
  font-size: 2.6rem;
  line-height: 1.4;
  color: #40454f; }
  h1 b {
    display: block;
    font-weight: 500;
    font-size: 4rem; }

.minicaps {
  text-transform: uppercase;
  font-weight: 500 !important;
  color: #b0b1b1;
  letter-spacing: 0.8px; }

.subtitle {
  color: #7b8391;
  margin-top: 0px;
  font-size: 15px;
  letter-spacing: 0.6px;
  font-weight: 500; }

.content {
  padding: 0px 30px; }

.site-header {
  width: 100%;
  height: 134px;
  position: relative; }
  .site-header .fixed-header {
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #fff; }
    .site-header .fixed-header .header-wrap {
      padding: 2rem 0px;
      -moz-transition: padding 0.2s;
      -o-transition: padding 0.2s;
      -webkit-transition: padding 0.2s;
      transition: padding 0.2s; }

.site-header.js-scroll .fixed-header .header-wrap {
  padding: 5px 0px; }

.nav-container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto; }

.navbar {
  position: relative;
  height: 74px;
  line-height: 74px;
  margin: 0px 5px; }
  .navbar .main-menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    margin: 0; }
    .navbar .main-menu li {
      display: inline-block;
      padding-left: 2rem; }
      .navbar .main-menu li a {
        display: block;
        color: #7b8391;
        cursor: pointer;
        -moz-transition: color 0.2s ease-in;
        -o-transition: color 0.2s ease-in;
        -webkit-transition: color 0.2s ease-in;
        transition: color 0.2s ease-in; }
        .navbar .main-menu li a:hover, .navbar .main-menu li a:active {
          color: #000;
          font-weight: 500; }

.navbar .monogram, .footer-nav .monogram {
  float: left; }
  .navbar .monogram a, .footer-nav .monogram a {
    display: block;
    width: 52px;
    height: 52px;
    line-height: 52px;
    margin-top: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    border-radius: 2px;
    text-align: center;
    position: relative;
    overflow: hidden; }
    .navbar .monogram a:before, .footer-nav .monogram a:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #000;
      -moz-transition: left 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      -o-transition: left 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      -webkit-transition: left 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      transition: left 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      left: -100%; }
    .navbar .monogram aafter, .footer-nav .monogram aafter {
      content: ''; }
    .navbar .monogram a:hover, .navbar .monogram a:active, .footer-nav .monogram a:hover, .footer-nav .monogram a:active {
      color: #fff; }
      .navbar .monogram a:hover:before, .navbar .monogram a:active:before, .footer-nav .monogram a:hover:before, .footer-nav .monogram a:active:before {
        left: 0%; }
    .navbar .monogram a .monogram-icon, .footer-nav .monogram a .monogram-icon {
      font-size: 40px;
      vertical-align: middle;
      position: relative;
      z-index: 2; }

.footer-nav .monogram {
  line-height: 56px;
  display: none; }
  .footer-nav .monogram a {
    width: 50px;
    height: 50px;
    border: 2px solid #7b8391;
    color: #fff; }
    .footer-nav .monogram a .monogram-icon {
      font-size: 44px;
      margin-bottom: 8px; }
    .footer-nav .monogram a:hover, .footer-nav .monogram a:active {
      border-color: #000; }

.fixed-footer {
  width: 100%;
  position: relative; }

.footer-nav {
  width: 100%;
  position: relative;
  padding: 0 2rem; }
  .footer-nav .top-footer {
    line-height: 54px;
    padding-top: 40px; }
    .footer-nav .top-footer .note h2, .footer-nav .top-footer .note p {
      font-size: 1.5rem;
      letter-spacing: 1px;
      color: #aab3c2;
      margin-top: 0; }

.footer-nav .item {
  display: inline-block;
  padding-right: 2rem;
  text-transform: uppercase;
  color: #aab3c2;
  letter-spacing: 0.4px;
  font-size: 14px;
  font-weight: 500; }
  .footer-nav .item a {
    display: block;
    color: #7b8391; }
  .footer-nav .item.copyright {
    color: #aab3c2;
    letter-spacing: 0.8px; }

.pagination .previous, .pagination .forward {
  display: block;
  position: fixed;
  width: 70px;
  height: 100vh;
  top: 0;
  z-index: 50; }
  .pagination .previous .sidebar, .pagination .forward .sidebar {
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0%; }
  .pagination .previous a, .pagination .forward a {
    color: #7b8391;
    font-size: 1.2rem;
    letter-spacing: 0.6px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    width: 150px;
    position: absolute;
    top: 50%; }
    .pagination .previous a:hover, .pagination .forward a:hover {
      color: #578cef; }
.pagination .forward {
  right: 0; }
  .pagination .forward .sidebar a {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    right: -38px; }
.pagination .previous {
  left: 0; }
  .pagination .previous .sidebar a {
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    left: -38px;
    text-align: right; }

.extra-margin {
  margin-top: 3rem; }

.extra-padding-bottom {
  padding-bottom: 3rem; }

.section-wrapper {
  padding: 0 3.75rem;
  margin: 4rem 0; }

.min-wrapper {
  padding: 2rem 0; }

.spacing {
  padding: 2rem 0px; }

.content-wrap {
  max-width: 990px;
  margin: auto;
  padding-bottom: 2rem; }
  .content-wrap .title {
    padding-bottom: 20px;
    text-align: center; }
    .content-wrap .title h1 {
      font-size: 2.8rem;
      line-height: 1.4; }
      .content-wrap .title h1 em {
        font-family: "Montserrat", Helvetica, san-serif;
        font-weight: 500;
        font-style: normal; }
  .content-wrap p {
    font-size: 1.3rem;
    line-height: 2.1;
    color: #7b8391; }

.stencil {
  display: inline-block;
  vertical-align: middle;
  background: #40454f;
  overflow: hidden;
  position: relative; }
  .stencil .icon-stencil {
    width: 4em;
    vertical-align: middle;
    font-size: 2em;
    margin-top: -5px;
    position: relative; }
  .stencil:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg, #578cef, #4be2fa);
    -moz-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
    -webkit-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
    animation: shade 3s linear infinite;
    animation-play-state: paused; }
  .stencil:hover:before {
    animation-play-state: running; }

@keyframes shade {
  0% {
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  50% {
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }
.feature-section {
  padding: 0px 20px; }
  .feature-section .title {
    padding-bottom: 10px; }

.floatboxs {
  width: 100%; }
  .floatboxs:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.work-thumb {
  width: 50%;
  float: left;
  padding-bottom: 5rem; }
  .work-thumb:nth-of-type(odd) {
    padding-right: 2.5rem; }
  .work-thumb:nth-of-type(even) {
    padding-left: 2.5rem; }
  .work-thumb a {
    position: relative;
    display: block;
    cursor: pointer;
    -moz-transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -o-transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -webkit-transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
    .work-thumb a .preview img {
      display: block; }
    .work-thumb a .overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      text-align: center;
      cursor: pointer;
      background-color: rgba(87, 140, 239, 0.7);
      -moz-transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      -o-transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      -webkit-transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
      .work-thumb a .overlay .overlay-title {
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        .work-thumb a .overlay .overlay-title h2, .work-thumb a .overlay .overlay-title h3 {
          font-size: 1.8rem;
          color: #fff;
          margin-top: 0;
          font-weight: 500; }
      .work-thumb a .overlay .view-link {
        display: inline-block;
        padding: 15px 2rem;
        border: 2px solid #fff;
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
        border-radius: 2px;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        font-weight: 500;
        cursor: pointer;
        -moz-transition: color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67), background-color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        -o-transition: color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67), background-color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        -webkit-transition: color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67), background-color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        transition: color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67), background-color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
        .work-thumb a .overlay .view-link:hover, .work-thumb a .overlay .view-link:active {
          background-color: #fff;
          color: #40454f; }
    .work-thumb a:hover {
      -moz-transform: scale(1.03, 1.03);
      -o-transform: scale(1.03, 1.03);
      -ms-transform: scale(1.03, 1.03);
      -webkit-transform: scale(1.03, 1.03);
      transform: scale(1.03, 1.03); }
  .work-thumb .caption {
    padding: 15px 0px; }
    .work-thumb .caption h3 {
      font-size: 16px;
      color: #40454f;
      margin: 0;
      font-weight: 500; }
    .work-thumb .caption p {
      color: #7b8391;
      margin: 6px 0px;
      font-size: 14px;
      letter-spacing: 0.6px; }

.project-content .title h1 {
  font-size: 3.4rem;
  color: #40454f;
  font-weight: 400; }
.project-content .title h2 {
  color: #7b8391;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-weight: 500; }
  .project-content .title h2 span {
    display: inline-block;
    position: relative;
    top: -4px;
    font-size: 1.2rem; }
.project-content .summary p {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.8; }

.project-image-wrapper {
  position: relative;
  padding: 2rem 0; }
  .project-image-wrapper figure {
    margin: 3rem 1.2rem; }
    .project-image-wrapper figure img {
      display: block; }
    .project-image-wrapper figure.set-width {
      text-align: center; }
      .project-image-wrapper figure.set-width img {
        width: auto;
        max-width: 100%;
        margin: auto; }
    .project-image-wrapper figure.border img {
      box-shadow: 0px 1px 3px 0px rgba(123, 131, 146, 0.2), 1px 0px 3px 0px rgba(123, 131, 146, 0.3); }

.section-content {
  padding: 3rem 0; }
  .section-content .body {
    max-width: 840px;
    width: 85%;
    margin: auto;
    margin-bottom: 4rem; }
    .section-content .body h2 {
      font-size: 1.8rem;
      color: #40454f;
      font-weight: 600; }
    .section-content .body p {
      font-size: 1.1rem;
      color: #7b8391;
      line-height: 2; }

.site-access {
  margin: 2rem 0px;
  text-align: right;
  padding: 0px 15px; }

.outline-btn {
  display: inline-block;
  border-radius: 2px;
  border: 2px solid #578cef;
  background-color: #fff;
  padding: 14px 35px;
  font-size: 14px;
  position: relative;
  cursor: pointer !important;
  overflow: hidden; }
  .outline-btn span {
    position: relative;
    z-index: 2;
    color: #578cef;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6px; }
  .outline-btn:before, .outline-btn:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .outline-btn:before {
    background-color: #fff;
    z-index: 1; }
  .outline-btn:after {
    -moz-transform: translate3d(-101%, 0, 0);
    -o-transform: translate3d(-101%, 0, 0);
    -ms-transform: translate3d(-101%, 0, 0);
    -webkit-transform: translate3d(-101%, 0, 0);
    transform: translate3d(-101%, 0, 0);
    -moz-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -o-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -webkit-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    background-color: #578cef;
    z-index: 1; }
  .outline-btn:hover:before {
    z-index: 0; }
  .outline-btn:hover:after {
    -moz-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0); }
  .outline-btn:hover span {
    color: #fff; }

@media screen and (max-width: 1400px) {
  .flexboxs .col3 {
    width: 50%; }
    .flexboxs .col3 .viewbox {
      padding: .5rem;
      margin-bottom: 0px; }

  .lead-content {
    padding: 0px 2rem; } }
@media screen and (max-width: 992px) {
  .site-access {
    text-align: left;
    padding: 0px; } }
@media screen and (max-width: 800px) {
  .lead-content {
    padding: 0; } }
@media screen and (max-width: 700px) {
  .flexboxs .col3 {
    width: 100%; }

  .lead-content .title h1 {
    font-size: 2.4rem; } }

/*# sourceMappingURL=main.css.map */
