body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 601px; }

img {
  width: 100%; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

.site-wrapper {
  background-color: #fff;
  margin-bottom: 281px; }

a {
  cursor: pointer !important; }

h1 {
  font-size: 2.6rem;
  line-height: 1.4;
  color: #40454f; }
  h1 b {
    display: block;
    font-weight: 500; }

.minicaps {
  text-transform: uppercase;
  font-weight: 500 !important;
  color: #b0b1b1;
  letter-spacing: 0.8px; }

.subtitle {
  color: #7b8391;
  margin-top: 0px;
  font-size: 15px;
  letter-spacing: 0.6px;
  font-weight: 500; }

.site-header {
  width: 100%;
  height: 124px;
  position: relative; }
  .site-header .fixed-header {
    width: 100%;
    height: 124px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8); }
    .site-header .fixed-header .header-wrap {
      padding: 30px 0px; }

.navbar {
  width: 100%;
  position: relative;
  height: 64px;
  line-height: 64px;
  /*border-bottom: 1px solid #dbdbdb;*/ }
  .navbar .main-menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    margin: 0; }
    .navbar .main-menu li {
      display: inline-block;
      padding: 0px 20px; }
      .navbar .main-menu li a {
        display: block;
        color: #7b8391;
        cursor: pointer; }
        .navbar .main-menu li a:hover, .navbar .main-menu li a:active {
          color: #578cef; }

.navbar .monogram, .footer-nav .monogram {
  display: inline-block; }
  .navbar .monogram a, .footer-nav .monogram a {
    display: block;
    width: 64px;
    height: 64px;
    cursor: pointer;
    color: #fff;
    background-color: #7b8391;
    border-radius: 2px;
    text-align: center;
    position: relative;
    overflow: hidden; }
    .navbar .monogram a:before, .footer-nav .monogram a:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #578cef;
      -moz-transition: left 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      -o-transition: left 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      -webkit-transition: left 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      transition: left 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      left: -100%; }
    .navbar .monogram aafter, .footer-nav .monogram aafter {
      content: ''; }
    .navbar .monogram a:hover, .navbar .monogram a:active, .footer-nav .monogram a:hover, .footer-nav .monogram a:active {
      color: #fff; }
      .navbar .monogram a:hover:before, .navbar .monogram a:active:before, .footer-nav .monogram a:hover:before, .footer-nav .monogram a:active:before {
        left: 0%; }
    .navbar .monogram a .monogram-icon, .footer-nav .monogram a .monogram-icon {
      font-size: 52px;
      vertical-align: middle;
      position: relative;
      z-index: 2;
      -moz-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg); }

.footer-nav .monogram {
  line-height: 56px; }
  .footer-nav .monogram a {
    width: 50px;
    height: 50px;
    border: 2px solid #7b8391;
    color: #fff; }
    .footer-nav .monogram a .monogram-icon {
      font-size: 44px;
      margin-bottom: 8px; }
    .footer-nav .monogram a:hover, .footer-nav .monogram a:active {
      border-color: #578cef; }

.fixed-footer {
  width: 100%;
  background-color: #fafafa;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -100; }

.footer-nav {
  width: 100%;
  position: relative;
  text-align: center; }
  .footer-nav .top-nav {
    line-height: 54px;
    padding-top: 40px; }
    .footer-nav .top-nav .main-footer-nav {
      padding: 1em 0; }

.footer-nav .item {
  display: inline-block;
  padding: 0px 15px;
  text-transform: uppercase;
  color: #aab3c2;
  letter-spacing: 0.4px;
  font-size: 14px;
  font-weight: 500; }
  .footer-nav .item a {
    display: block;
    color: #7b8391; }
  .footer-nav .item.copyright {
    color: #aab3c2;
    font-size: 12px;
    letter-spacing: 0.8px; }

.pagination {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem; }
  .pagination .previous, .pagination .forward {
    width: 30%;
    padding: 0px 2rem; }
    .pagination .previous a, .pagination .forward a {
      color: #7b8391;
      font-size: 1.2rem;
      letter-spacing: 0.6px;
      font-weight: 500;
      cursor: pointer; }
      .pagination .previous a .icon-previous, .pagination .previous a .icon-forward, .pagination .forward a .icon-previous, .pagination .forward a .icon-forward {
        vertical-align: middle;
        margin-bottom: 4px;
        position: relative; }
      .pagination .previous a:hover, .pagination .forward a:hover {
        color: #578cef; }
        .pagination .previous a:hover .icon-forward, .pagination .forward a:hover .icon-forward {
          right: -2px;
          color: #578cef;
          stroke-width: 1px; }
        .pagination .previous a:hover .icon-previous, .pagination .forward a:hover .icon-previous {
          left: -2px;
          color: #578cef;
          stroke-width: 1px; }
  .pagination .forward {
    text-align: right; }

.extra-margin {
  margin-top: 3rem; }

.extra-padding-bottom {
  padding-bottom: 3rem; }

.main-wrapper {
  padding: 4rem 0; }

.min-wrapper {
  padding: 2rem 0; }

.spacing {
  padding: 2rem 0px; }

.lead-content .title {
  padding-bottom: 20px; }
  .lead-content .title h1 {
    line-height: 1.4; }
    .lead-content .title h1 em {
      font-family: "Montserrat", Helvetica, san-serif;
      font-weight: 500;
      font-style: normal; }
.lead-content p {
  font-size: 20px;
  line-height: 40px;
  color: #7b8391; }

.stencil {
  display: inline-block;
  vertical-align: middle;
  background: #40454f;
  overflow: hidden;
  position: relative; }
  .stencil .icon-stencil {
    width: 4em;
    vertical-align: middle;
    font-size: 2em;
    margin-top: -5px;
    position: relative; }
  .stencil:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg, #578cef, #4be2fa);
    -moz-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
    -webkit-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
    animation: shade 3s linear infinite;
    animation-play-state: paused; }
  .stencil:hover:before {
    animation-play-state: running; }

@keyframes shade {
  0% {
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  50% {
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }
.feature-list {
  padding: 0px 20px; }
  .feature-list .title {
    padding-bottom: 10px; }

.item-list .component {
  margin-bottom: 35px;
  padding: 0px; }
.item-list .preview {
  position: relative;
  display: block;
  cursor: pointer; }
  .item-list .preview .image img {
    display: block; }
  .item-list .preview .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    cursor: pointer;
    background-color: rgba(87, 140, 239, 0.7);
    -moz-transition: opacity 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -o-transition: opacity 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -webkit-transition: opacity 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: opacity 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
    .item-list .preview .overlay .coding {
      vertical-align: middle;
      font-size: 80px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .item-list .preview .overlay .view-link {
      display: block;
      padding: 15px 2rem;
      border: 2px solid #fff;
      background-color: rgba(255, 255, 255, 0.2);
      color: #fff;
      border-radius: 2px;
      text-transform: uppercase;
      letter-spacing: 0.4px;
      font-weight: 500;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -moz-transition: color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67), background-color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      -o-transition: color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67), background-color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      -webkit-transition: color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67), background-color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      transition: color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67), background-color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
      .item-list .preview .overlay .view-link:hover, .item-list .preview .overlay .view-link:active {
        background-color: #fff;
        color: #40454f; }
  .item-list .preview:hover .overlay {
    opacity: 1; }
  .item-list .preview:hover .image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
.item-list .caption {
  padding: 15px 0px; }
  .item-list .caption h3 {
    font-size: 16px;
    color: #40454f;
    margin: 0;
    font-weight: 500; }
  .item-list .caption p {
    color: #7b8391;
    margin: 6px 0px;
    font-size: 14px;
    letter-spacing: 0.6px; }

.notification {
  text-align: center;
  padding-bottom: 15px; }
  .notification h5 {
    font-style: italic;
    letter-spacing: 1px;
    color: #aab3c2; }

.project-content .title h1 {
  color: #40454f;
  font-weight: 500; }
.project-content .summary p {
  font-size: 1.2rem;
  color: #7b8391;
  line-height: 1.8; }
.project-content .services li {
  list-style-type: none;
  color: #a7b8d7;
  font-weight: 500;
  position: relative;
  float: left;
  padding: 0px 15px; }
  .project-content .services li:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 60%;
    position: absolute;
    right: 0;
    top: 15%;
    background-color: #a7b8d7; }
  .project-content .services li:first-child {
    padding-left: 0px; }
  .project-content .services li:last-child:after {
    display: none; }

.component {
  padding: 30px 0px; }

.img-holder {
  margin-bottom: 3rem; }
  .img-holder.set-width {
    text-align: center; }
    .img-holder.set-width img {
      width: auto; }
  .img-holder .website {
    border: 1px solid #f0f3f6;
    box-shadow: 0px 1px 3px 0px rgba(123, 131, 146, 0.2), 1px 0px 3px 0px rgba(123, 131, 146, 0.3); }
  .img-holder.last {
    margin-bottom: 3rem; }

.section-body {
  max-width: 840px;
  margin: auto;
  margin-bottom: 4rem; }
  .section-body h2 {
    font-size: 1.8rem;
    color: #40454f;
    font-weight: 500; }
  .section-body p {
    font-size: 1.2rem;
    color: #7b8391;
    line-height: 1.7; }

.site-access {
  margin: 2rem 0px;
  text-align: right;
  padding: 0px 15px; }

.outline-btn {
  display: inline-block;
  border-radius: 2px;
  border: 2px solid #578cef;
  background-color: #fff;
  padding: 14px 35px;
  font-size: 14px;
  position: relative;
  cursor: pointer !important;
  overflow: hidden; }
  .outline-btn span {
    position: relative;
    z-index: 2;
    color: #578cef;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6px; }
  .outline-btn:before, .outline-btn:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .outline-btn:before {
    background-color: #fff;
    z-index: 1; }
  .outline-btn:after {
    -moz-transform: translate3d(-101%, 0, 0);
    -o-transform: translate3d(-101%, 0, 0);
    -ms-transform: translate3d(-101%, 0, 0);
    -webkit-transform: translate3d(-101%, 0, 0);
    transform: translate3d(-101%, 0, 0);
    -moz-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -o-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -webkit-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    background-color: #578cef;
    z-index: 1; }
  .outline-btn:hover:before {
    z-index: 0; }
  .outline-btn:hover:after {
    -moz-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0); }
  .outline-btn:hover span {
    color: #fff; }

@media screen and (max-width: 992px) {
  .site-access {
    text-align: left;
    padding: 0px; } }

/*# sourceMappingURL=main.css.map */
